<%-include('../partials/header')%>
<%-include('../partials/navbar')%>

    <div class="container">
        <%-include('../partials/flash')%>
        <div class="row">
            <%for(let blog of blogs){%>
                <div class="col-lg-6 mt-3">
                    <div class="card w-100">
                        <img src="upload/<%=blog.img%>" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="display-6 card-title"><%=blog.title%></h5>
                          <p class="text-muted card-title"><%=blog.author%></p>
                          <p class="card-text"><%=blog.desc%></p>
                          <a href="/blogs/<%=blog._id%>" class="btn btn-primary">More info</a>
                        </div>
                      </div>
                </div>
            <%}%>
        </div>
    </div>

<%-include('../partials/footer')%>